$main-nav-breakpoint: 768px;

// Remove margin & passing for all lists in menu
#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Top level menu
#menu > ul {
  display: none;

  @media (min-width: $main-nav-breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }

  // Top level menu items
  > li {
    @media (min-width: $main-nav-breakpoint) {
      margin: 0 .75rem;
    }

    // Top level menu links
    > a {
      display: block;
      padding: 1rem;
      text-decoration: none;
    }

    // Top level menu link hover/active style
    &:hover > a,
    &:focus-within > a {
      color: blue;
    }
  }

  // Top level menu items with submenus
  > li.menu-item-has-children {
    position: relative;

    // Top level menu links with submenu
    > a {
      padding-right: 2rem; // compensate for open/close button
    }
  }
}

// Display top level menu when toggled
#menu.is-active ul {
  display: block;
}

// Submenus
#menu ul ul {
  @media (min-width: $main-nav-breakpoint) {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    padding: 0;
    margin: 0;
    min-width: 250px;
    background-color: white;
    list-style-type: none;
    z-index: 1; // display above page content
  }

  // Submenu links
  a {
    display: block;
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

// Submenu toggle buttons
#menu .submenu-toggle {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  border: none;
  padding: 1rem 1rem 1rem 2rem;
  background: none;
  cursor: pointer;

  @media (min-width: $main-nav-breakpoint) {
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    z-index: -1;
  }
}

// Display submenus on hover
#menu .menu-item-has-children:hover ul {
  @media (min-width: $main-nav-breakpoint) and (hover: hover) {
    display: block !important;
  }
}

/**
 * Mobile menu toggle
 */
#menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;

  @media (min-width: $main-nav-breakpoint) {
    display: none;
  }
}
